[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fsoopify = "*"
colorama = "*"
coloredlogs = "*"
docopt = "*"
click-anno = "*"

[dev-packages]

[requires]
python_version = "3.7"
